# -*- mode: typescript-mode -*-
# name: useState
# key: state
# group: React Hooks
# contributor: Laura Viglioni
# --

const [$1, set${1:$(string-inflection-pascal-case-function yas-text)}] = useState${2:<$3>}($4)$0