.cache/*
.lsp-*
.mc-lists.el
*.eld
org-roam.db
transient/*
url/*
tramp
elpa/*
auto-save-list/*
straight/*
!straight/versions/
!straight/versions/default.el
*.elc
.cask
.gitignore
eshell/*
*~
eln-cache/*