# -*- mode: rjsx-mode -*-
# name: class method
# key: cmet
# group: OOP
# author: Laura Viglioni
# --

${1:$$(yas-choose-value '("public " "private "))}${2:static }${3:async }${4:methodName}(${5:arg : ${6:Type}}): ${7:Type} {
                        $0
} 

