# -*- mode: org-mode -*-
# name: ricetti
# key: ricetti
# --

** Sobre
:PROPERTIES:
:CUSTOM_ID: sobre
:END:

** Ingredientes
:PROPERTIES:
:CUSTOM_ID: ingredientes
:END:

#+name: tabela-ingredientes
|--------------+------------|
| ingredientes | quantidade |
|--------------+------------|
|              |            |
|--------------+------------|

** Modo de preparo
:PROPERTIES:
:CUSTOM_ID: modo-de-preparo
:END: