# -*- mode: org-mode -*-
# name: Status report week
# key: srw
# --
    
* `(let* ((date (replace-regexp-in-string "\n" "" (shell-command-to-string "date -v+monday +\"%Y-%m-%d\"")))
          (week (string-to-number (format-time-string "%U" (date-to-time date)))))
                     (format "FUTURE Week %s - %s - Mon" week date))`
** I completed 
** Plan to complete [/]
   - [ ] $0
** Peer notes
** Week comments
