# -*- mode: rjsx-mode -*-
# name: async describe.each block
# key: adee
# group: Test
# author: Laura Viglioni
# --
describe.each([$3])('${1:when} $2', async ($4) => {
                               $0
})