# -*- mode: rjsx-mode -*-
# name: class
# key: cla
# group: OOP
# author: Laura Viglioni
# --

${1:export }class ${2:ClassName} ${3:extends/implements Something$$(yas-choose-value '(" " "extends " "implements ")) }{
      ${4:public constructor($5) {
                 ${6:super($7)}
                 $8
                 \}}
      $0
}


