**/.eldev/*
.cache/
.dap-*
.lsp-*
backups/*
bookmarks
diary
eshell/*
org-roam.db
persp-confs/*
projectile-bookmarks.eld
projectile.cache
recentf
request/*
transient/*
url/*
.org-id-locations
projects
*.sqlite
helm-adaptive-history
nov-places
tramp
tree-sitter/*
**/*.DS_store