# -*- mode: emacs-lisp -*-
# name: lauremacs header
# key: lau
# --


;;
;; @author Laura Viglioni
;; `(format-time-string "%Y")`
;;
;; GNU Public License 3.0
;;
;; since: `(magit-get-current-tag)`
;;
;; `(buffer-name)`:
;; $1
;;

$0